<div>
  <a [routerLink]="['/tours/new']" routerLinkActive="router-link-active">New</a>
</div>
<div>
  <a [routerLink]="['/search']" routerLinkActive="router-link-active">Search</a>
</div>
<div>
  <a [routerLink]="['/sort']" routerLinkActive="router-link-active">Sort</a>
</div>
<div>
  <a [routerLink]="['/limit']" routerLinkActive="router-link-active">Limit Fields</a>
</div>
<div>
  <a [routerLink]="['/pagination']" routerLinkActive="router-link-active">Pagination</a>
</div>
<div>
  <a [routerLink]="['/top-5-cheap']" routerLinkActive="router-link-active">Top Cheap</a>
</div>
<div>
  <div
    class="m-3"
    *ngFor="let tour of tours"
  >
    <h3>{{ tour.name }}</h3>
    <p>{{ tour.description }}</p>
    <button (click)="delete(tour._id)" >Delete</button>
    <button  >Update</button>
    <button [routerLink]="['/tours', tour._id]">Detail</button>
  </div>
</div>
