<div>
  <h4>Search</h4>
  <label for="">Duration </label>
  <input type="text"  name="duration" id="duration" >
  <input type="checkbox"  name="gte" id="gte" >
  <label for="">Greater than or equals </label>
</div>
<div>
  <label for="">Difficulty </label>
  <input type="text"  name="difficulty" id="difficulty" >
</div>
<button (click)="search()">Search</button>
<div>
  <h4>Results</h4>
  <div *ngIf="!isError;else templateName" >
    <div *ngFor="let tour of tours">
      <h3>{{ tour.name }}</h3>
      <p style="color: chocolate;">Price: {{tour.price}}</p>
      <p>{{ tour.description }}</p>
    </div>
  </div>
  <ng-template #templateName>
    <h3>{{ message}}</h3>
  </ng-template>
</div>

